/.env
/.ebextensions/env.config
/static
/generated
/Dockerrun.zip
/source/templates/file-list-public.html

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml
