/.env
/.ebextensions/env.config
/public/texts
/public/file-list-public.html
/utils/index.json
/Dockerrun.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml
