<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DiogenesWeb</title>
  <link rel="stylesheet" type = "text/css" href="css/DiogenesWeb.css?v=1">
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script>
  <script type="text/javascript" src="js/file-display.js?v=1"></script>
</head>
<body>
<span style="display:none" id="path">{{path}}</span>
<div id="main">
</div>

</body>
</html>
