<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DiogenesWeb</title>
  <link rel="stylesheet" type = "text/css" href="css/file-display.css?v=1">
  <script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script>
  <script type="text/javascript" src="js/file-display.js?v=1"></script>
</head>
<body>
<span style="display:none" id="path">{{path}}</span>
<div id="main">
  <button class="hamburger hamburger--squeeze" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
<div class="topnav">
  <div id="menuItems">
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
</div>

</body>
</html>
