<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DiogenesWeb</title>
  <link rel="stylesheet" type = "text/css" href="css/file-display.css?v=1">
  <script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script>
  <script type="text/javascript" src="js/file-display.js?v=1"></script>
</head>
<body>
<span style="display:none" id="path">{{path}}</span>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#" onclick="collapseAll()">Collapse&nbsp;All</a>
  <a href="#" onclick="expandAll()">Expand&nbsp;All</a>
  <a href="#" onclick="goHome()">Home&nbsp;Page</a>
  <a href="#" onclick="goSettings()">Settings</a>
</div>

<!-- Use any element to open the sidenav -->
<div class="hamburger" onclick="openNav()">
  <div class="hamburger-bar"></div>
  <div class="hamburger-bar"></div>
  <div class="hamburger-bar"></div>
</div>

<div id="main">
  <!-- <button class="hamburger hamburger-squeeze" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button> -->

</body>
</html>
