<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DiogenesWeb</title>
  <link rel="stylesheet" type = "text/css" href="css/DiogenesWeb.css?v=1">
  <link rel="stylesheet" type = "text/css" href="css/file-display.css?v=1">
  <script type="text/javascript" src="js/DiogenesWeb.js?v=1"></script>
  <script type="text/javascript" src="js/file-display.js?v=1"></script>
  <script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script>
  <script type="text/javascript" src="js/file-sidebar.js?v=1"></script>
</head>
<body>
<span style="display:none" id="path">{{path}}</span>

<div id="hamburger-navbar"></div>

<div id="sidebar"></div>
<div id="main"></div>

</body>
</html>
