
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 4px;
  margin-top: 4px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: medium;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  /* padding: 0 18px; */
  display: none;
  overflow: hidden;
  margin-top: 4px;
  /* margin-bottom: 4px; */

  /* background-color: #f1f1f1; */
}

/* Hamburger menu */

/*!
* Hamburgers
* @description Tasty CSS-animated hamburgers
* @author Jonathan Suh @jonsuh
* @site https://jonsuh.com/hamburgers
* @link https://github.com/jonsuh/hamburgers
*/
.hamburger {
  /* float: right; */
  position: fixed;
  top: 8px;
  right: 4px;
  padding: 0px 0px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}
.hamburger-box {
  width: 30px;
  height: 12px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
* Squeeze
*/
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
hamburger:link {
  text-decoration: none;
}

hamburger:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hamburger-box:active {
  text-decoration: none;
}

/* Drop-down menu */

.topnav {
  overflow: hidden;
  /* background-color: #333; */
  background-color: #eee;
  position: fixed;
  top: 32px;
  right: 4px;
  /* float: right; */
}
/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 2px 4px 8px 24px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #menuItems {
  display: none;
}
/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ccc;
  color: black;
}

/* Elements */

.lineNum {
  float: right;
}

h1 {
  text-align: center;
  font-size: large;
  color: #28709a;
}

.speaker {
  color: #28709a;
  font-weight: bold;
  text-indent: 2em;
}
.speaker:after {
  content: "\00a0\00a0";
}

/* rend attributes */

.indent2 {
  text-indent: 1em;
}
.indent4 {
  text-indent: 2em;
}
