/* Font size for mobile devices */
body {
  font-size: calc(16px + 0.5vw);
}
/* These do not seem to inherit from body */
button {
  font-size: calc(16px + 0.5vw);
}


body.waiting, body.waiting *{
    /* cursor: wait !important; */
}

/* Style the button that is used to open and close the collapsible content */
.collapsible, .uncollapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding-top: 4px;
  margin-top: 4px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}
.authorName {
  padding-left: 20px;
}
.fileName {
  background-color: white;
  padding-left: 40px;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  /* font-size: 13px; */
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  /* padding: 0 18px; */
  display: none;
  border: none;
  overflow: hidden;
  /* margin-top: 4px; */
  /* margin-bottom: 4px; */
  /* background-color: #f1f1f1; */
}
.show {
  display: block;
}

/* Hamburger menu */
.hamburger {
  position: fixed;
  top: 6px;
  right: 25px;
}
.hamburger-bar {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
  border-radius: 8px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 4px 4px 4px 16px;
  text-decoration: none;
  /* font-size: medium; */
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
#navCloseBtn {
  position: fixed;
  top: 0px;
  right: 24px;
  font-size: 28px;
  margin-left: 50px;
  display: none;
  transition: 0.5s;
  padding: 4px 4px 4px 16px;
  text-decoration: none;
  color: #818181;
}

h1 {
  text-align: center;
  padding-top: 20px;
  color: #28709a;
  font-size: 150%;
}
h2 {
  text-align: center;
  padding-top: 20px;
  color: #28709a;
  font-size: 125%;
}
h3 {
  color: #28709a;
}

#sidebar h1 {
  padding: 0px;
  border: 0px;
}
#sidebar h2 {
  padding: 0px;
  border: 0px;
}

#all-user-buttons {
  text-align: center;
}

.user-button {
  color: #28709a;
  /* font-size: 100%; */
}

.lookup-field {
  text-align: left;
  font-size: 100%;
}

#none-button:hover {
  text-decoration: underline;
}

.connectButtons {
  color: #28709a;
  /* font-size: 100%; */
}
.centering {
  text-align: center;
}
