<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DiogenesWeb</title>
  <link rel="stylesheet" type = "text/css" href="../static/css/DiogenesWeb.css">
  <link rel="stylesheet" type = "text/css" href="../static/css/file-display.css">
  <script type="text/javascript" src="../static/js/DiogenesWeb.js"></script>
  <script type="text/javascript" src="../static/js/file-display.js"></script>
  <script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script>
  <script type="text/javascript" src="../static/js/file-sidebar.js"></script>
</head>
<body>
  <span style="display:none" id="host">{{host}}</span>
  <span style="display:none" id="path">{{path}}</span>

<div id="hamburger-navbar"></div>

<div id="sidebar"></div>
<div id="main"></div>
<div id="loading" class="centering">
  <p>Loading ...</p>
</div>
</body>
</html>
