<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DiogenesWeb Home Page</title>
  <link rel="stylesheet" type = "text/css" href="../static/css/DiogenesWeb.css">
  <script type="text/javascript" src="../static/js/DiogenesWeb.js"></script>
</head>
<body>
  <div id="hamburger-navbar"></div>

  <h2>DiogenesWeb</h2>
  <div class="centering connectButtons">
    <button type="button" onclick="connectDropbox()">Go to My
      Dropbox</button>
  </div>


  <h3>Open-Access Corpora</h3>

  INSERT HERE

  <h3>Tips</h3>
  <ul>
    <li>Rotate your device to landscape orientation to make room for the lexical information, then click on a word to see an analysis.</li>
    <li>See the <a href="../static/html/dropbox.html" target="_blank">detailed instructions</a> on how to use Dropbox with DiogenesWeb.</li>
    <li>Searching across texts has not yet been implemented, but you can search within a given text by using your browser's "find in page" function.</li>
  </ul>
</body>
</html>
