<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DiogenesWeb First Page</title>
  <link rel="stylesheet" type = "text/css" href="../static/ver/VERSION/css/DiogenesWeb.css">
  <script type="text/javascript" src="../static/ver/VERSION/js/version.js"></script>
  <script type="text/javascript" src="../static/ver/VERSION/js/identify.js"></script>
</head>
<body>
  <h1>DiogenesWeb</h1>
  <p>
    DiogenesWeb is an web application, optimized for handheld devices, for reading XML files of Latin and Ancient Greek.  These can be open-access files or can be files held in your private cloud storage.
  </p>
  <p>
    Before starting to use DiogenesWeb, please indicate which category of user you belong to.  This information helps ensure continued support for the Diogenes project.
  </p>
  <div id="all-user-buttons">
    <p><button class="user-button" name="acad-user" type="button" onclick="setUser('acad')">Academics and PhD candidates</button><br/>(including  post-docs)</p>
    <p><button class="user-button" name="stud-user" type="button" onclick="setUser('stud')">Students</button><br/> (including masters, undergraduate, and secondary school)</p>
    <p><button class="user-button" name="other-user" type="button" onclick="setUser('other')">General public</button><br/>(neither of the above)</p>
 </div>

  <h2>Privacy Notice</h2>
  <p>
    DiogenesWeb does not use cookies or store centrally any user information; all user information is stored in your browser.  Each time you access DiogenesWeb, the category of user (as identified above) is logged, nothing more.
  </p>
  <p>
    If you would prefer not to say what category of user you belong to, <a id="none-button" onclick="setUser('none')"> click here</a>.
  </p>
</body>
</html>
